alembic
dateparser
Flask
Flask-AlchemyDumps
Flask-BasicAuth
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
gunicorn
mysql-connector-python
pandas
python-dateutil
python-dotenv
requests
sentry-sdk[flask]==0.5.3
SQLAlchemy<2.0
xmltodict
