alembic
dateparser
Flask==2.1.3
Flask-AlchemyDumps
Flask-BasicAuth
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
gunicorn
mysql-connector-python
pandas
pyarrow
python-dateutil
python-dotenv
requests
sentry-sdk[flask]==0.5.3
SQLAlchemy<2.0
Werkzeug==2.2.2
xmltodict
